* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex: 1;
}

body {
    font-family: 'Bebas Neue', cursive;
}

header {
    height: 12rem;
    width: 100%;
    background-color: #4f07b3;
}

h1 {
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    text-align: center;
}
 p {
     text-align: center;
 }
  
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .flex-container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  
  }

  .flex-container .box1, .box2, .box3 {
    height: 100px;
    width: 100px;
    align-items: center;
  }

  .flex-container .box1 {
	background-color: #cef218;
    
    }

    .flex-container .box2 {
    background-color: #18f2ce;
    }

  .flex-container .box3 {
	background-color: #42f572;
    }

    .numbers {    
        justify-content: center;
    align-items: center;
    }
