* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex: 1;
}

body {
    font-family: 'Bebas Neue', cursive;
}

header {
    height: 12rem;
    width: 100%;
    background-color: #4f07b3;
}

h1 {
    font-size: 4rem;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
}

.subtext {
  color: #4f07b3;
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}

 .boxes p {
     text-align: center;
     font-size: 170px;
     color: #4f07b3;
 }
  
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .boxes div {
    margin: 70px;
    padding: 20px;
  }

  .box1, .box2, .box3 {
    height: 200px;
    width: 200px;
    margin: 100px;
    border-style: solid;
    border-width: 10px ;
    border-color: #4f07b3;
    border-radius: 10px;
    align-items: center;
  }

  .box1 {
	background-color: #cef218;
    
    }

    .box2 {
    background-color: #18f2ce;
    }

   .box3 {
	background-color: #42f572;
    }

    .numbers {    
    justify-content: center;
    align-items: center;
    }

  .start_over {
    text-align: center;
    font-size: 40px;
  }

  .hidden {
    display: none;
  }

  .redcolor {
    background-color: red;
  }